<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136974398-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-136974398-1');
    </script>


    <meta charset="utf-8">
    <title>Capability Wise Pty Ltd</title>

<meta property='og:title' content='{{ page.title }}'/>
<meta property='og:image' content='{{ page.excerpt-image | absolute_url}}'/>
<meta property='og:description' content='{{ page.excerpt | strip_html }}'/>
<meta property='og:url' content='{{ page.url | absolute_url }}'/>

<meta name="twitter:card" content="summary" />
<!-- <meta name="twitter:site" content="@flickr" /> -->
<meta name="twitter:title" content="{{ page.title }}" />
<!-- <meta name="twitter:description" content="View the album on Flickr." /> -->
<meta name="twitter:image" content="{{ page.excerpt-image | absolute_url}}" />



    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">

    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/material-kit.css?v=1.3.0" rel="stylesheet"/>


    <script id="dsq-count-scr" src="//capabilitywise.disqus.com/count.js" async></script>
    <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/8f15d2a799904bef194f0abec/aad80f0441a6c62c476458aa5.js");</script>
</head>
