<meta property='og:title' content='{{ page.title }}'/>
<meta property='og:image' content='{{ page.excerpt-image | absolute_url}}'/>
<meta property='og:description' content='{{ page.excerpt | strip_html }}'/>
<meta property='og:url' content='{{ page.excerpt | strip_html }}'/>

	<div class="page-header header-filter" data-parallax="true" style="background-image: url({{page.excerpt-image}});">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h1 class="title">{{ page.title }}</h1>
					<h4>{{page.excerpt}}</h4>
					<br />
					<a href="#article_start" class="btn btn-rose btn-round btn-lg">
						<i class="material-icons">format_align_left</i> Read Article <i class="material-icons">arrow_downward</i>
					</a>
				</div>
			</div>
		</div>
	</div>

<div class="main main-raised">
	<div class="container">
        <div class="section section-text"  id="article_start">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="title">{{page.title}}</h3>
                    <i>{{ page.date | date: "%a, %d %b %Y" }} &nbsp;</i>
                    <a href="http://m.facebook.com/sharer.php?u={{ page.url | absolute_url }}&t={{ page.title }}&sv={{ page.excerpt-image | absolute_url}})"><span style="font-size: 2rem;"><i class="fa fa-facebook-square"></i></span></a>
                    <a href="https://twitter.com/share?text={{ page.title }}&url={{ page.url | absolute_url }}"><span style="font-size: 2rem;"><i class="fa fa-twitter-square"></i></span></a>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&summary={{ page.excerpt | strip_html }}&title={{ page.title }}&url={{ page.excerpt | strip_html }}"><span style="font-size: 2rem;"><i class="fa fa-linkedin-square"></i></span></a>
                    <a href="mailto:?subject=CW%20Blog%20Article%20-%20{{ page.title }}&body=Hi%2C%0A%0AI%20found%20this%20article%20from%20Capability%20Wise%20that%20I%20thought%20you%20might%20be%20interested%20in%3A%20%0A%0A{{page.url | absolute_url }}"><span style="font-size: 2.1rem;"><i class="fa fa-envelope"></i></span></a>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {{content}}
                </div>
                <div class="col-md-2">
                    {% include blog-series.html %}
                </div>
            </div>
            <div class="row">
                <br/>
				<div class="col-md-8 col-md-offset-2">
					<div class="blog-tags mb-5">
									Tags:
 									{% for tag in page.tags %}
									<span class="label label-primary">{{tag}}</span>
  									{% endfor %}
					</div>
                </div>
            </div>
		 </div>

{% if page.comments == true %}
			<div class="section section-comments">
				<div class="col-md-8 col-md-offset-2">
				<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = page.url;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = page.permalink ; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://capabilitywise.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

			<br/><br/>

			</div>
			</div>

  {%endif%}
      </div>

    </div>


	<div class="section">
		<div class="container">
			<div class="row">


				<div class="col-md-12">
                        {% include related-series.html %}
				</div>

			</div>
		</div>
	</div>
