$app-red: #ff5000;
$app-grey: #313e48;
$app-light-grey: #ececec;

$cw-primary: #5aabbe;
$cw-primary-1: #FF9877;
$cw-primary-2: #FE794F;
$cw-primary-3: #C5370A;
$cw-primary-4: #9C2600;

$cw-secondary: #8bc34a;
$cw-secondary-1: #ffd247;
$cw-secondary-2: #d7d7d7;
$cw-secondary-3: #162736;
$cw-secondary-4: #010d18;

$font-family: 'Open Sans', sans-serif;
