$app-red: #ff5000;
$app-grey: #313e48;
$app-light-grey: #ececec;

$cw-primary: #F05423;
$cw-primary-1: #FF9877;
$cw-primary-2: #FE794F;
$cw-primary-3: #C5370A;
$cw-primary-4: #9C2600;

$cw-secondary: #343F49;
$cw-secondary-1: #616c76;
$cw-secondary-2: #bbbec0;
$cw-secondary-3: #162736;
$cw-secondary-4: #010d18;

$font-family: 'Open Sans', sans-serif;
